/* Link to color scheme "http://colorscheme.ru/#4I41Tw0w0w0w0" */

@bg-body-color: #4A036F;
@bg-header-color: #383838;
@bg-product-color: #612580;
@bg-contacts-color: #9B2766;

@text-color-gray: #e6e6e6;
@text-header-color: @text-color-gray;
@text-header-color-hover: darken(@text-header-color, 15%);
@text-product-color: @text-color-gray;
@text-product-color-hx: #FCFF40;
@text-contacts-color: @text-color-gray;
@text-contacts-decoration-color: #B6F63E;

@product-decoration-color: #FCFF40;
@product-decoration-color-2: #FBFE00;
@product-decoration-color-3: #BDBF30;
@product-decoration-text-color: #860049;
@product-decoration-text-color-2: #E768AD;
@product-decoration-text-color-3: #C7F66F;



@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

@container-sm: 750px;
@container-md: 970px;
@container-lg: 1170px;

@img-x: 500px;
@img-y: 250px;

@btn-height: 34px;

@font-face {
	font-family: 'social';
	src: url('../fonts/social.eot?64222396');
	src: url('../fonts/social.eot?64222396#iefix') format('embedded-opentype'), url('../fonts/social.woff?64222396') format('woff'), url('../fonts/social.ttf?64222396') format('truetype'), url('../fonts/social.svg?64222396#social') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: @bg-body-color;
}

header,
footer {
	color: @text-header-color;
	background-color: @bg-header-color;

	a {
		color: @text-header-color;

		&:hover {
			color: @text-header-color-hover;
		}
	}

	.header-text {
		font-size: 1.1em;
	}

	.contacts {
		font-size: 1.1em;

		> span {
			margin-left: 1em;
			margin-right: 1em;
		}

		> a {
			white-space: nowrap;
		}
	}

	.about {
		margin-top: 1.5em;
		margin-bottom: 1.5em;
	}
}

header {
	margin-bottom: 2em;

	.menu {
		padding: 0;
		margin: 0;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-bottom: 10px;
		border: 1px solid @text-contacts-decoration-color;
		border-left: none;
		border-right: none;

		> li {
			display: block;
			margin-left: 15px;
			margin-right: 15px;
			margin-bottom: 5px;

			@media (min-width: @screen-sm-min) {
				display: inline-block;
			}

			> a {
				color: @text-contacts-decoration-color;
				text-transform: uppercase;
				text-decoration: none;

				&:hover {
					color: @product-decoration-text-color-2;
				}
			}
		}
	}
}

footer {
	margin-top: 2em;

	.contacts-full {
		.email,
		.phone,
		.address {
			margin-top: 20px;

			> h4 {
				color: @text-contacts-decoration-color;
			}

			> p {
				color: @text-contacts-color;
			}
		}

		.email,
		.phone {
			margin-bottom: 15px;
		}


		.email {
		}

		.phone {
		}

		.address {
		}
	}
}

main {
	.product {
		position: relative;
		border: 1px solid @product-decoration-color;
		border-top: none;
		border-left: none;
		border-right: none;
		max-width: @img-x;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1.5em;
		background-color: @bg-product-color;

		@media (min-width: @screen-md-min) {
			max-width: none;
			margin-left: 0;
			margin-right: 0;

			.product-photo {
				float: left;
			}

			.product-photo2 {
				float: right;
			}
		}

		.product-details,
		.product-details2 {
			margin-bottom: @btn-height + 10px;
			padding-left: 5px;
			padding-right: 5px;

			h3 {
				color: @text-product-color-hx;
			}

			p {
				color: @text-product-color;
			}

			@media (min-width: @screen-md-min) {
				height: @img-y;
				width: @container-md - @img-x - 30px;
				display: table-cell;
				margin-bottom: 0;
				vertical-align: middle;

				h3,
				p {
					text-align: center;
					vertical-align: middle;
				}
			}

			@media (min-width: @screen-lg-min) {
				width: @container-lg - @img-x - 30px;
			}
		}

		.product-button,
		.product-button2 {
			position: absolute;
			bottom: 0;
			right: 0;
			border-bottom: none;
			color: @product-decoration-text-color;
			border-color: @product-decoration-color;
			background-color: @product-decoration-color;

			&:hover {
				background-color: @product-decoration-color-2;
			}
		}

		@media (min-width: @screen-md-min) {
			.product-button2 {
				right: auto;
				left: 0;
			}
		}
	}

	.contacts-full {
		background-color: @bg-contacts-color;

		.email,
		.phone,
		.address {
			margin-top: 20px;

			> h4 {
				color: @text-contacts-decoration-color;
			}

			> p {
				color: @text-contacts-color;
			}
		}

		.email,
		.phone {
			margin-bottom: 15px;
		}


		.email {
		}

		.phone {
		}

		.address {
		}
	}

	.promo {
		margin-top: 20px;

		> div {
			width: 100px;
			height: 100px;
			padding-top: 25px;
			display: inline-block;
			border: 5px solid @product-decoration-color;
			margin-bottom: 10px;
			margin-top: 10px;
			color: @product-decoration-color;

			> span {
				font-size: 40px;
			}
		}

		> h4 {
			color: @product-decoration-color;
		}

		> p {
			color: @text-product-color;
		}
	}

	.product-data {
		color: @text-color-gray;

		.caption {
			margin-top: 0;
			margin-bottom: 25px;
			color: @text-product-color-hx;

			small {
				color: desaturate(@text-product-color-hx, 50%);
			}
		}

		.detail,
		.advantages {
			background-color: @bg-product-color;
			padding: 10px;
			margin-bottom: 25px;
			border: 1px solid @product-decoration-color-3;
			color: @text-product-color;

			h3 {
				color: @product-decoration-text-color-3;
			}

			h4 {
				color: @text-product-color-hx;
			}

			.advantage {
				p {
					padding-left: 24px;
				}
			}
		}

		.product-3d {
			position: relative;
			min-height: 32px;
			max-width: 600px;
			margin-right: auto;
			margin-left: auto;
			margin-bottom: 25px;
			border: 1px solid @product-decoration-color-2;
			background-image: url(../img/watermark_hozmetla.png);
			background-repeat: repeat;

			@media (max-width: @screen-sm-min) {
				margin-left: 10%;
			}

			@media (max-width: @screen-md-min) {
				background-size: 100px;
			}

			@media (min-width: @screen-md-min) {
				max-width: 805px;
			}

			#load-wrapper {
				display: table;

				> div {
					display: table-cell;
					text-align: center;
					vertical-align: middle;
				}

				#load {
					font-size: 50px;
					color: @product-decoration-color-2;
					background-color: transparent;
					border: none;

					.glyphicon {
						top: 4px;
					}

					&:hover {
						color: @product-decoration-text-color-2;
						background-color: transparent;
						text-decoration: none;
						-moz-transition: color linear 0.5s;
						-o-transition: color linear 0.5s;
						-webkit-transition: color linear 0.5s;
						transition: color linear 0.5s;
					}
				}
			}

			#pause,
			#toggle {
				position: absolute;
				top: 0;
				color: @product-decoration-color-2;
				background-color: transparent;
				border: none;
			}

			#toggle {
				left: 25px;

				@media (min-width: @screen-sm-min) {
					left: 110px;
				}
			}
		}
	}
}

#photoes {
	// This is added to avoid chrome text rendering bug;
	z-index: 1;
	// ------------------------------------------------
	
	margin-bottom: 5px;
	border: 1px solid @product-decoration-color-3;

	@media (min-width: @screen-md-min) {
		float: left;
	}
}

.photoes-carousel {
	max-width: 805px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;

	.carousel {
		max-width: 600px;
		margin-left: auto;
		margin-right: auto;

		.item-zoom-in {
			position: absolute;
			bottom: 5px;
			right: 5px;
			color: @product-decoration-color;
			background-color: @bg-header-color;
			border: 1px solid @product-decoration-color;
			border-radius: 100%;
			width: 40px;
			height: 40px;
			padding: 6px 0 0 8px;
			font-size: 26px;
			cursor: pointer;
			overflow: hidden;
		}
	}

	.photoes-thumbnails {
		max-width: 600px;
		list-style: none;
		margin: 0;
		padding: 0;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;

		@media (min-width: @screen-md-min) {
			float: left;
			max-width: 194px;
			width: auto;
			margin-left: 5px;
			margin-bottom: 0;
		}

		> li {
			padding: 1px;
			max-width: 300px;
			width: 33.3333333333%;
			display: block;
			float: left;
			border: 2px solid @bg-body-color;

			@media (min-width: @screen-md-min) {
				float: none;
				max-width: 100%;
				width: auto;
			}

			&.active {
				border: 2px solid @product-decoration-color-2;
				-moz-transition: border-color linear 0.5s;
				-o-transition: border-color linear 0.5s;
				-webkit-transition: border-color linear 0.5s;
				transition: border-color linear 0.5s;

				> img {
					opacity: 0.75;
					-moz-transition: opacity linear 0.5s;
					-o-transition: opacity linear 0.5s;
					-webkit-transition: opacity linear 0.5s;
					transition: opacity linear 0.5s;
				}
			}
			/*&:hover {
				border: 2px solid @product-decoration-color-2;
				-moz-transition: border-color linear 0.5s;
				-o-transition: border-color linear 0.5s;
				-webkit-transition: border-color linear 0.5s;
				transition: border-color linear 0.5s;
			}*/
		}
	}
}

.no-break {
	white-space: nowrap;
}

.http404 {
	margin-top: 32px;
	margin-bottom: 75px;

	h2 {
		color: @text-product-color-hx;
		margin-bottom: 45px;
	}

	small {
		color: @product-decoration-color-3;
	}

	h4,
	ul {
		color: @text-color-gray;
	}
}

.product404 {
	position: relative;
	border: 1px solid @product-decoration-color;
	border-top: none;
	border-left: none;
	border-right: none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1.5em;
	background-color: @bg-product-color;

	.product-details,
	.product-details2 {
		padding-left: 5px;
		padding-right: 5px;
		margin-bottom: @btn-height + 10px;

		h3 {
			color: @text-product-color-hx;
		}

		p {
			color: @text-product-color;
		}
	}

	.product-button,
	.product-button2 {
		position: absolute;
		bottom: 0;
		right: 0;
		border-bottom: none;
		color: @product-decoration-text-color;
		border-color: @product-decoration-color;
		background-color: @product-decoration-color;

		&:hover {
			background-color: @product-decoration-color-2;
		}
	}

	@media (min-width: @screen-md-min) {
		height: 240px;
	}
}

.modal-fs {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(125, 125, 125, 0.9);
	z-index: 100;
	display: table;

	.close-fs,
	.right-fs,
	.left-fs {
		position: absolute;
		color: @product-decoration-color;
		background-color: @bg-header-color;
		border: 1px solid @product-decoration-color;
		border-radius: 100%;
		width: 40px;
		height: 40px;
		font-size: 26px;
		cursor: pointer;
		z-index: 200;
	}

	.close-fs {
		padding: 4px 0 0 6px;
		top: 10px;
		right: 10px;
	}

	.right-fs,
	.left-fs {
		top: 50%;
		padding: 3px 0 0 5px;
		margin-top: -20px;
	}

	.right-fs {
		right: 15px;
	}

	.left-fs {
		left: 15px;
	}

	.photo-fs {
		width: 100%;
		height: 100%;
		display: table-cell;
		vertical-align: middle;
		padding: 25px;
	}
}

/* Bootstrap overrides */
.btn {
	border-radius: 0;
}

/* Yandex share */
/*#social {
	display: block;
	margin: 5px auto 10px auto;
	text-align: center;
}

.ya-share2__badge {
	border: 2px solid @text-contacts-decoration-color !important;
	border-radius: 100% !important;
	margin-right: 5px !important;
	background-color: @bg-header-color !important;
}

.ya-share2__container_size_m .ya-share2__icon {
	width: 42px !important;
	height: 42px !important;
	background-size: 42px 42px !important;
}*/

#fontello-social {
	@border: 2px solid #00e0ff;
	@border-radius: 100%;
	@text-color: #00e0ff;
	@text-shadow-color: #00e0ff;

	text-align: center;
	margin-bottom: 10px;

	ul {
		margin: 0 auto;
		padding: 0;
		list-style: none;

		li {
			display: inline-block;
			margin-right: 25px;
			width: 56px;
			height: 56px;
			padding: 8px;
			border: @border;
			border-radius: @border-radius;

			.ya-share2__icon {
				display: inline-block;
				font: normal normal normal 14px/1 social;
				text-rendering: auto;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				text-align: center;
				color: @text-color;
				text-shadow: 1px 0 20px @text-shadow-color;
			}

			a,
			.ya-share2__badge,
			.ya-share2__icon {
				font-size: 28px;
			}

			:hover {
				text-decoration: none;
				text-shadow: 1px 0 20px lighten(@text-shadow-color, 30%);
				-moz-transition: text-shadow linear 0.5s;
				-o-transition: text-shadow linear 0.5s;
				-webkit-transition: text-shadow linear 0.5s;
				transition: text-shadow linear 0.5s;
			}

			.ya-share2__title {
				display: none;
			}

			@media (max-width: @screen-sm-min) {
				margin-bottom: 15px;
			}
		}

		li[class$="vkontakte"] .ya-share2__icon:before {
			content: '\e801';
		}

		li[class$="facebook"] .ya-share2__icon:before {
			content: '\e804';
		}

		li[class$="odnoklassniki"] .ya-share2__icon:before {
			content: '\e800';
		}

		li[class$="moimir"] .ya-share2__icon:before {
			content: '\e802';
		}

		li[class$="gplus"] .ya-share2__icon:before {
			content: '\e805';
		}

		li[class$="twitter"] .ya-share2__icon:before {
			content: '\e803';
		}
	}
}
