/* Link to color scheme "http://colorscheme.ru/#4I41Tw0w0w0w0" */
@font-face {
  font-family: 'social';
  src: url('../fonts/social.eot?64222396');
  src: url('../fonts/social.eot?64222396#iefix') format('embedded-opentype'), url('../fonts/social.woff?64222396') format('woff'), url('../fonts/social.ttf?64222396') format('truetype'), url('../fonts/social.svg?64222396#social') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #4A036F;
}
header,
footer {
  color: #e6e6e6;
  background-color: #383838;
}
header a,
footer a {
  color: #e6e6e6;
}
header a:hover,
footer a:hover {
  color: #c0c0c0;
}
header .header-text,
footer .header-text {
  font-size: 1.1em;
}
header .contacts,
footer .contacts {
  font-size: 1.1em;
}
header .contacts > span,
footer .contacts > span {
  margin-left: 1em;
  margin-right: 1em;
}
header .contacts > a,
footer .contacts > a {
  white-space: nowrap;
}
header .about,
footer .about {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
header {
  margin-bottom: 2em;
}
header .menu {
  padding: 0;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border: 1px solid #B6F63E;
  border-left: none;
  border-right: none;
}
header .menu > li {
  display: block;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 5px;
}
header .menu > li > a {
  display: block;
  text-decoration: none;
  font-size: 1.1em;
}
header .menu > li > a span {
  color: #B6F63E;
  display: inline-block;
}
header .menu > li > a .note {
  margin-top: 5px;
  color: #8f9486;
  font-size: 0.75em;
}
header .menu > li > a:hover {
  text-decoration: none;
}
header .menu > li > a:hover span {
  color: #E768AD;
}
header .menu > li > a:hover .note {
  color: #9b9b9b;
}
@media (min-width: 768px) {
  header .menu > li > a span {
    display: block;
  }
  header .menu > li > a span.glyphicon {
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  header .menu > li {
    display: inline-block;
  }
}
footer {
  margin-top: 2em;
}
footer .contacts-full .email,
footer .contacts-full .phone,
footer .contacts-full .address {
  margin-top: 20px;
}
footer .contacts-full .email > h4,
footer .contacts-full .phone > h4,
footer .contacts-full .address > h4 {
  color: #B6F63E;
}
footer .contacts-full .email > p,
footer .contacts-full .phone > p,
footer .contacts-full .address > p {
  color: #e6e6e6;
}
footer .contacts-full .email,
footer .contacts-full .phone {
  margin-bottom: 15px;
}
main .product {
  position: relative;
  border: 1px solid #FCFF40;
  border-top: none;
  border-left: none;
  border-right: none;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  background-color: #612580;
}
@media (min-width: 992px) {
  main .product {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }
  main .product .product-photo {
    float: left;
  }
  main .product .product-photo2 {
    float: right;
  }
}
main .product .product-details,
main .product .product-details2 {
  margin-bottom: 44px;
  padding-left: 5px;
  padding-right: 5px;
}
main .product .product-details h3,
main .product .product-details2 h3 {
  color: #FCFF40;
  margin-top: 0;
}
main .product .product-details p,
main .product .product-details2 p {
  color: #e6e6e6;
}
main .product .product-details .product-cost,
main .product .product-details2 .product-cost {
  margin: 15px 0 15px 0;
  text-align: center;
}
main .product .product-details .product-cost span,
main .product .product-details2 .product-cost span {
  color: #C7F66F;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #C7F66F;
  background-color: #383838;
  font-size: 1.3em;
}
@media (min-width: 992px) {
  main .product .product-details,
  main .product .product-details2 {
    height: 250px;
    width: 440px;
    display: table-cell;
    margin-bottom: 0;
    vertical-align: middle;
  }
  main .product .product-details h3,
  main .product .product-details2 h3,
  main .product .product-details p,
  main .product .product-details2 p {
    text-align: center;
    vertical-align: middle;
  }
}
@media (min-width: 1200px) {
  main .product .product-details,
  main .product .product-details2 {
    width: 640px;
  }
}
main .product .product-button,
main .product .product-button2 {
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: none;
  color: #860049;
  border-color: #FCFF40;
  background-color: #FCFF40;
}
main .product .product-button:hover,
main .product .product-button2:hover {
  background-color: #FBFE00;
}
@media (min-width: 992px) {
  main .product .product-button2 {
    right: auto;
    left: 0;
  }
}
main .contacts-full {
  background-color: #9B2766;
}
main .contacts-full .email,
main .contacts-full .phone,
main .contacts-full .address {
  margin-top: 20px;
}
main .contacts-full .email > h4,
main .contacts-full .phone > h4,
main .contacts-full .address > h4 {
  color: #B6F63E;
}
main .contacts-full .email > p,
main .contacts-full .phone > p,
main .contacts-full .address > p {
  color: #e6e6e6;
}
main .contacts-full .email,
main .contacts-full .phone {
  margin-bottom: 15px;
}
main .promo {
  margin-top: 20px;
}
main .promo > div {
  width: 100px;
  height: 100px;
  padding-top: 25px;
  display: inline-block;
  border: 5px solid #FCFF40;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #FCFF40;
}
main .promo > div > span {
  font-size: 40px;
}
main .promo > h4 {
  color: #FCFF40;
}
main .promo > p {
  color: #e6e6e6;
}
main .product-data {
  color: #e6e6e6;
}
main .product-data .caption {
  margin-top: 1em;
  margin-bottom: 1.65em;
}
main .product-data .caption span {
  display: block;
}
main .product-data .caption span:first-child {
  color: #FCFF40;
  margin-bottom: 10px;
  font-weight: bold;
}
main .product-data .caption span:last-child {
  font-size: 0.5em;
  color: #cecf70;
}
main .product-data .detail {
  background-color: #612580;
  padding: 10px;
  margin-bottom: 25px;
  border: 1px solid #BDBF30;
  color: #e6e6e6;
}
main .product-data .detail h3 {
  color: #C7F66F;
}
main .product-data .detail h4 {
  color: #FCFF40;
}
main .product-data .product-3d {
  position: relative;
  min-height: 32px;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  border: 1px solid #FBFE00;
  background-image: url(../img/watermark_hozmetla_3d.png);
  background-repeat: repeat;
}
@media (max-width: 768px) {
  main .product-data .product-3d {
    margin-left: 10%;
  }
}
@media (max-width: 992px) {
  main .product-data .product-3d {
    background-size: 100px;
  }
}
@media (min-width: 992px) {
  main .product-data .product-3d {
    max-width: 805px;
  }
}
main .product-data .product-3d #load-wrapper {
  display: table;
}
main .product-data .product-3d #load-wrapper > div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
main .product-data .product-3d #load-wrapper #load {
  font-size: 50px;
  color: #FBFE00;
  background-color: transparent;
  border: none;
}
main .product-data .product-3d #load-wrapper #load .glyphicon {
  top: 4px;
}
main .product-data .product-3d #load-wrapper #load:hover {
  color: #E768AD;
  background-color: transparent;
  text-decoration: none;
  -moz-transition: color linear 0.5s;
  -o-transition: color linear 0.5s;
  -webkit-transition: color linear 0.5s;
  transition: color linear 0.5s;
}
main .product-data .product-3d #pause,
main .product-data .product-3d #toggle {
  position: absolute;
  top: 0;
  color: #FBFE00;
  background-color: transparent;
  border: none;
  font-size: 1.65em;
}
@media (min-width: 768px) {
  main .product-data .product-3d #pause,
  main .product-data .product-3d #toggle {
    font-size: 1.1em;
  }
}
main .product-data .product-3d #toggle {
  left: 50px;
}
@media (min-width: 768px) {
  main .product-data .product-3d #toggle {
    left: 136px;
  }
}
#photoes {
  z-index: 1;
  margin-bottom: 5px;
  border: 1px solid #BDBF30;
}
.photoes-carousel {
  max-width: 602px;
  margin-left: auto;
  margin-right: auto;
}
.photoes-carousel .carousel {
  max-width: 602px;
  margin-left: auto;
  margin-right: auto;
}
.photoes-carousel .carousel .item-zoom-in {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #FCFF40;
  background-color: #383838;
  border: 1px solid #FCFF40;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  padding: 6px 0 0 8px;
  font-size: 26px;
  cursor: pointer;
  overflow: hidden;
}
.photoes-carousel .photoes-thumbnails {
  max-width: 600px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
.photoes-carousel .photoes-thumbnails > li {
  padding: 1px;
  max-width: 300px;
  width: 33.3333333333%;
  display: block;
  float: left;
  border: 2px solid #612580;
}
.photoes-carousel .photoes-thumbnails > li.active {
  border: 2px solid #FBFE00;
  -moz-transition: border-color linear 0.5s;
  -o-transition: border-color linear 0.5s;
  -webkit-transition: border-color linear 0.5s;
  transition: border-color linear 0.5s;
}
.photoes-carousel .photoes-thumbnails > li.active > img {
  opacity: 0.75;
  -moz-transition: opacity linear 0.5s;
  -o-transition: opacity linear 0.5s;
  -webkit-transition: opacity linear 0.5s;
  transition: opacity linear 0.5s;
}
.http404 {
  margin-top: 32px;
  margin-bottom: 75px;
}
.http404 h2 {
  color: #FCFF40;
  margin-bottom: 45px;
}
.http404 small {
  color: #BDBF30;
}
.http404 h4,
.http404 ul {
  color: #e6e6e6;
}
.product404 {
  position: relative;
  border: 1px solid #FCFF40;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  background-color: #612580;
}
.product404 .product-details,
.product404 .product-details2 {
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 44px;
}
.product404 .product-details h3,
.product404 .product-details2 h3 {
  color: #FCFF40;
}
.product404 .product-details p,
.product404 .product-details2 p {
  color: #e6e6e6;
}
.product404 .product-button,
.product404 .product-button2 {
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: none;
  color: #860049;
  border-color: #FCFF40;
  background-color: #FCFF40;
}
.product404 .product-button:hover,
.product404 .product-button2:hover {
  background-color: #FBFE00;
}
@media (min-width: 992px) {
  .product404 {
    height: 240px;
  }
}
.modal-fs {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(125, 125, 125, 0.9);
  z-index: 100;
  display: table;
}
.modal-fs .close-fs,
.modal-fs .right-fs,
.modal-fs .left-fs {
  position: absolute;
  color: #FCFF40;
  background-color: #383838;
  border: 1px solid #FCFF40;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  font-size: 26px;
  cursor: pointer;
  z-index: 200;
}
.modal-fs .close-fs {
  padding: 4px 0 0 6px;
  top: 10px;
  right: 10px;
}
.modal-fs .right-fs,
.modal-fs .left-fs {
  top: 50%;
  padding: 3px 0 0 5px;
  margin-top: -20px;
}
.modal-fs .right-fs {
  right: 15px;
}
.modal-fs .left-fs {
  left: 15px;
}
.modal-fs .photo-fs {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  padding: 25px;
}
.product-caption {
  font-size: 1.15em;
  font-weight: bold;
  color: #FBFE00;
}
/* Bootstrap overrides */
.btn {
  border-radius: 0;
}
#fontello-social {
  text-align: center;
  margin-bottom: 10px;
}
#fontello-social ul {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
#fontello-social ul li {
  display: inline-block;
  margin-right: 25px;
  width: 46px;
  height: 46px;
  padding: 8px;
}
#fontello-social ul li .ya-share2__icon {
  display: inline-block;
  font: normal normal normal 14px/1 social;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #00e0ff;
  text-shadow: 1px 0 20px #00e0ff;
}
#fontello-social ul li a,
#fontello-social ul li .ya-share2__badge,
#fontello-social ul li .ya-share2__icon {
  font-size: 22px;
}
#fontello-social ul li :hover {
  text-decoration: none;
  text-shadow: 1px 0 20px #99f3ff;
  -moz-transition: text-shadow linear 0.5s;
  -o-transition: text-shadow linear 0.5s;
  -webkit-transition: text-shadow linear 0.5s;
  transition: text-shadow linear 0.5s;
}
#fontello-social ul li .ya-share2__title {
  display: none;
}
@media (max-width: 768px) {
  #fontello-social ul li {
    margin-bottom: 15px;
  }
}
#fontello-social ul li[class$="vkontakte"] .ya-share2__icon:before {
  content: '\e801';
}
#fontello-social ul li[class$="facebook"] .ya-share2__icon:before {
  content: '\e804';
}
#fontello-social ul li[class$="odnoklassniki"] .ya-share2__icon:before {
  content: '\e800';
}
#fontello-social ul li[class$="moimir"] .ya-share2__icon:before {
  content: '\e802';
}
#fontello-social ul li[class$="gplus"] .ya-share2__icon:before {
  content: '\e805';
}
#fontello-social ul li[class$="twitter"] .ya-share2__icon:before {
  content: '\e803';
}