/* Link to color scheme "http://colorscheme.ru/#4I41Tw0w0w0w0" */
body {
  background-color: #4A036F;
}
header,
footer {
  color: #e6e6e6;
  background-color: #383838;
  padding-top: 1em;
  padding-bottom: 1em;
}
header a,
footer a {
  color: #e6e6e6;
}
header a:hover,
footer a:hover {
  color: #c0c0c0;
}
header .header-text,
footer .header-text {
  font-size: 1.1em;
}
header .contacts,
footer .contacts {
  font-size: 1.1em;
}
header .contacts > span,
footer .contacts > span {
  margin-left: 1em;
  margin-right: 1em;
}
header .contacts > a,
footer .contacts > a {
  white-space: nowrap;
}
header {
  margin-bottom: 2em;
}
footer {
  margin-top: 2em;
}
main .product {
  position: relative;
  border: 1px solid #FCFF40;
  border-top: none;
  border-left: none;
  border-right: none;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  background-color: #612580;
}
main .product .product-details,
main .product .product-details2 {
  margin-bottom: 44px;
  padding-left: 5px;
  padding-right: 5px;
}
main .product .product-details h3,
main .product .product-details2 h3 {
  color: #FCFF40;
}
main .product .product-details p,
main .product .product-details2 p {
  color: #e6e6e6;
}
main .product .product-button,
main .product .product-button2 {
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: none;
  color: #860049;
  border-color: #FCFF40;
  background-color: #FCFF40;
}
main .product .product-button:hover,
main .product .product-button2:hover {
  background-color: #FBFE00;
}
@media (min-width: 992px) {
  main .product {
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }
  main .product .product-photo {
    float: left;
  }
  main .product .product-photo2 {
    float: right;
  }
  main .product .product-details,
  main .product .product-details2 {
    height: 250px;
    width: 440px;
    display: table-cell;
    margin-bottom: 0;
    vertical-align: middle;
  }
  main .product .product-details h3,
  main .product .product-details2 h3,
  main .product .product-details p,
  main .product .product-details2 p {
    text-align: center;
    vertical-align: middle;
  }
  main .product .product-button2 {
    right: auto;
    left: 0;
  }
}
@media (min-width: 1200px) {
  main .product .product-details,
  main .product .product-details2 {
    width: 640px;
  }
}
main .contacts {
  padding-bottom: 30px;
  background-color: #9B2766;
}
main .contacts .email,
main .contacts .phone,
main .contacts .address {
  margin-top: 20px;
}
main .contacts .email > h4,
main .contacts .phone > h4,
main .contacts .address > h4 {
  color: #B6F63E;
}
main .contacts .email > p,
main .contacts .phone > p,
main .contacts .address > p {
  color: #e6e6e6;
}
main .contacts .email,
main .contacts .phone {
  margin-bottom: 15px;
}
@media (min-width: 992px) {
  main .contacts {
    padding-top: 30px;
  }
}
main .promo {
  margin-top: 20px;
}
main .promo > div {
  width: 100px;
  height: 100px;
  padding-top: 25px;
  display: inline-block;
  border: 5px solid #FCFF40;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #FCFF40;
}
main .promo > div > span {
  font-size: 40px;
}
main .promo > h4 {
  color: #FCFF40;
}
main .promo > p {
  color: #e6e6e6;
}
/* Bootstrap overrides */
.btn {
  border-radius: 0;
}