@import (once) 'var.less';

#menu {
	margin-bottom: 0;
}

.navbar-inverse .navbar-collapse {
	position: absolute;
	width: 100%;
	background-color: @header-bg-color;

	@media(min-width: @screen-sm-min) {
		position: static;
		width: auto;
		margin-top: 6px;
		margin-bottom: 6px;
		border: 1px solid darken(#cbffce, 70%);
		border-left: none;
		border-right: none;
	}
}

.navbar-inverse .navbar-nav > li > a {
	color: @header-text-color;
	border-left: 1px solid darken(#cbffce, 70%);
	border-right: 1px solid darken(#cbffce, 70%);
	transition: all ease-in-out 0.1s;

	&:hover {
		background-color: darken(#cbffce, 70%);
	}
}

@media(min-width: @screen-sm-min) {
	/*.navbar-nav {
		float: none;
		margin: 0 auto;
		width: 695px;
	}*/
	.navbar .navbar-nav {
		display: inline-block;
		float: none;
		vertical-align: top;
	}

	.navbar .navbar-collapse {
		text-align: center;
	}
}
